automation/n8n/workflows/clovis-triagem-resposta.json
{
  "name": "MyCrew - Clovis - Triagem e Resposta",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger_clovis",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1240, -160]
    },
    {
      "parameters": {
        "path": "mycrew/clovis",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "slack_input_clovis",
      "name": "Slack - Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1240, 160]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            { "name": "agentId", "value": "clovis" },
            { "name": "agentName", "value": "Clovis" },
            { "name": "personaId", "value": "clovis" },
            { "name": "model", "value": "mistral:7b-instruct" },
            { "name": "pythonWebappBaseUrl", "value": "http://python-webapp:80" },
            { "name": "ollamaBaseUrl", "value": "http://ollama:11434" },
            { "name": "qdrantUrl", "value": "http://qdrant:6333" },
            { "name": "qdrantCollectionName", "value": "mycrew" },
            { "name": "embeddingModel", "value": "nomic-embed-text" },
            { "name": "slackBotToken", "value": "COLE_AQUI_SEU_SLACK_BOT_TOKEN" },
            { "name": "slackDefaultChannel", "value": "" }
          ],
          "number": [
            { "name": "qdrantTopK", "value": 5 }
          ],
          "json": [
            {
              "name": "sampleInput",
              "value": {
                "text": "minhas folhas estao amareladas e a planta parece fraca",
                "channel_id": "C00000000",
                "cultivo": {
                  "especie": "",
                  "fase": "vegetativo",
                  "substrato": "",
                  "rega": "",
                  "nutrientes": "",
                  "luz": "",
                  "temperatura": "",
                  "umidade": "",
                  "sintomas": "amarelamento e fraqueza"
                }
              }
            }
          ]
        }
      },
      "id": "config_clovis",
      "name": "Config Clovis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [-980, 0]
    },
    {
      "parameters": {
        "jsCode": "const cfg=$json;const body=cfg.body&&typeof cfg.body==='object'?cfg.body:{};const sample=cfg.sampleInput&&typeof cfg.sampleInput==='object'?cfg.sampleInput:{};const incoming=Object.keys(body).length>0?(body.event&&typeof body.event==='object'?body.event:body):sample;const query=cfg.query&&typeof cfg.query==='object'?cfg.query:{};const text=String(incoming.text||incoming.message||incoming.prompt||body.event?.text||body.command||'').trim();const channel=String(incoming.channel_id||incoming.channel||body.event?.channel||query.channel_id||cfg.slackDefaultChannel||'').trim();const threadTs=String(incoming.thread_ts||incoming.ts||body.event?.thread_ts||body.event?.ts||query.thread_ts||'').trim();const responseUrl=String(incoming.response_url||body.response_url||cfg.response_url||'').trim();const cultivoSource=incoming.cultivo&&typeof incoming.cultivo==='object'?incoming.cultivo:{};return [{json:{agentId:cfg.agentId,agentName:cfg.agentName,personaId:cfg.personaId,model:cfg.model,pythonWebappBaseUrl:cfg.pythonWebappBaseUrl,ollamaBaseUrl:cfg.ollamaBaseUrl,qdrantUrl:cfg.qdrantUrl,qdrantCollectionName:cfg.qdrantCollectionName,qdrantTopK:Number(cfg.qdrantTopK||5),embeddingModel:cfg.embeddingModel,slackBotToken:String(cfg.slackBotToken||'').trim(),slackDefaultChannel:String(cfg.slackDefaultChannel||'').trim(),text:text||String(sample.text||'').trim(),channel,threadTs,responseUrl,cultivo:{especie:String(cultivoSource.especie||incoming.especie||'').trim(),fase:String(cultivoSource.fase||incoming.fase||'').trim(),substrato:String(cultivoSource.substrato||incoming.substrato||'').trim(),rega:String(cultivoSource.rega||incoming.rega||'').trim(),nutrientes:String(cultivoSource.nutrientes||incoming.nutrientes||'').trim(),luz:String(cultivoSource.luz||incoming.luz||'').trim(),temperatura:String(cultivoSource.temperatura||incoming.temperatura||'').trim(),umidade:String(cultivoSource.umidade||incoming.umidade||'').trim(),sintomas:String(cultivoSource.sintomas||incoming.sintomas||'').trim()}}}];"
      },
      "id": "normalize_input_clovis",
      "name": "Normalizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 0]
    },
    {
      "parameters": {
        "url": "={{ String($json.pythonWebappBaseUrl || '').trim().replace(/\/$/, '') + '/api/agent-doc?persona_id=' + encodeURIComponent($json.personaId) }}",
        "sendHeaders": true,
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch_clovis_doc",
      "name": "Buscar Documento Clovis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 0]
    },
    {
      "parameters": {
        "jsCode": "const input=$('Normalizar Entrada').first().json;const payload=$json||{};const docText=String(payload.content||'').trim();const fieldMap=[['especie','especie/cultivar'],['fase','fase do ciclo'],['substrato','substrato'],['rega','rega/frequencia'],['nutrientes','nutrientes usados'],['luz','luz/fotoperiodo'],['temperatura','temperatura'],['umidade','umidade relativa'],['sintomas','sintomas observados']];const missingFields=[];for(const [key,label] of fieldMap){if(String(input.cultivo?.[key]||'').trim()===''){missingFields.push(label);}}const systemPrompt=['Voce e Clovis, agente especialista em cultivo de plantas.','Responda em pt-BR, de forma tecnica, didatica e prudente.','Estruture a resposta pela fase da planta sempre que isso ajudar.','Se houver sintomas, apresente hipoteses por prioridade e como validar cada uma.','Sempre considere higiene, ventilacao, drenagem, qualidade da agua e estabilidade ambiental.','Quando adequado, inclua riscos de excesso, falta, contaminacao, pragas, fungos e estresse ambiental.','Use com prioridade o documento do agente e os dados do cultivo fornecidos.'].join('\\n');return [{json:{...input,docText,docAvailable:Boolean(docText),missingFields,needsMoreInfo:missingFields.length>0,followUpMessage:missingFields.length>0?'Para eu orientar com o Clovis, preciso destes dados antes de concluir: '+missingFields.join(', ')+'.':'',systemPrompt}}];"
      },
      "id": "normalize_clovis_doc",
      "name": "Normalizar Documento Clovis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 0]
    },
    {
      "parameters": {
        "jsCode": "const input=$json;const cultivoText=['Especie/cultivar: '+(input.cultivo.especie||'nao informado'),'Fase: '+(input.cultivo.fase||'nao informada'),'Substrato: '+(input.cultivo.substrato||'nao informado'),'Rega: '+(input.cultivo.rega||'nao informada'),'Nutrientes: '+(input.cultivo.nutrientes||'nao informados'),'Luz/fotoperiodo: '+(input.cultivo.luz||'nao informado'),'Temperatura: '+(input.cultivo.temperatura||'nao informada'),'Umidade: '+(input.cultivo.umidade||'nao informada'),'Sintomas: '+(input.cultivo.sintomas||'nao informados')].join('\\n');const qdrantContextSeed=['Consulta do usuario:',input.text||'','', 'Dados de cultivo:',cultivoText,'', 'Documento do agente:',input.docText||''].join('\\n');return [{json:{...input,qdrantContextSeed,qdrantSearchText:qdrantContextSeed.slice(0,6000)}}];"
      },
      "id": "prepare_qdrant_query",
      "name": "Preparar Consulta Qdrant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{ String($json.ollamaBaseUrl || '').trim().replace(/\/$/, '') + '/api/embeddings' }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{ JSON.stringify({ model: $json.embeddingModel, prompt: $json.qdrantSearchText }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get_embedding",
      "name": "Gerar Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "const input=$('Preparar Consulta Qdrant').first().json;const payload=$json||{};const vector=payload.embedding||payload.vector||payload.data||[];if(!Array.isArray(vector)||vector.length===0){throw new Error('Embedding vazio. Verifique se o modelo de embedding esta disponivel no Ollama.');}return [{json:{...input,qdrantVector:vector}}];"
      },
      "id": "normalize_embedding",
      "name": "Normalizar Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "url": "={{ String($json.qdrantUrl || '').trim().replace(/\/$/, '') + '/collections/' + encodeURIComponent($json.qdrantCollectionName) + '/points/search' }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{ JSON.stringify({ vector: $json.qdrantVector, limit: $json.qdrantTopK, with_payload: true, with_vector: false }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "search_qdrant",
      "name": "Buscar Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "jsCode": "const input=$('Normalizar Embedding').first().json;const payload=$json||{};const results=Array.isArray(payload.result)?payload.result:[];const snippets=results.map((item,index)=>{const data=item.payload&&typeof item.payload==='object'?item.payload:{};const text=String(data.content||data.text||data.page_content||data.chunk||data.description||'').trim();const title=String(data.title||data.name||data.source||data.doc||('trecho-'+(index+1))).trim();const score=typeof item.score==='number'?item.score:null;return {title,score,text,payload:data};}).filter((item)=>item.text||item.title);const qdrantContext=snippets.length?snippets.map((item)=>'### '+item.title+(item.score!==null?' (score: '+item.score.toFixed(4)+')':'')+'\n'+item.text).join('\\n\\n'):'Nenhum trecho relevante foi encontrado no Qdrant.';return [{json:{...input,qdrantHitCount:snippets.length,qdrantContext,qdrantSnippets:snippets}}];"
      },
      "id": "normalize_qdrant_results",
      "name": "Normalizar Qdrant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "jsCode": "const input=$json;return [{json:{...input,slackMessageDraft:['Mensagem do usuario:',input.text||'','', 'Contexto do cultivo:',JSON.stringify(input.cultivo, null, 2),'', 'Contribuicao do Qdrant:',input.qdrantContext||'','', 'Documento do agente:',input.docText||''].join('\\n')}}];"
      },
      "id": "prepare_agent_prompt",
      "name": "Preparar Prompt do Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "url": "={{ String($json.pythonWebappBaseUrl || '').trim().replace(/\/$/, '') + '/api/chat' }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{ JSON.stringify({ persona_id: $json.personaId, message: $json.slackMessageDraft, model: $json.model, history: [] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call_clovis",
      "name": "Chamar Clovis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 0]
    },
    {
      "parameters": {
        "jsCode": "const input=$('Preparar Prompt do Agente').first().json;const payload=$json||{};const answer=String(payload.reply||payload.content||payload.message||'').trim();return [{json:{...input,agentAnswer:answer||'Nao foi possivel gerar resposta para o Clovis.',agentRaw:payload}}];"
      },
      "id": "normalize_answer",
      "name": "Normalizar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 0]
    },
    {
      "parameters": {
        "jsCode": "const payload=$json||{};const channel=String(payload.channel||payload.slackDefaultChannel||'').trim();const threadTs=String(payload.threadTs||'').trim();const text=String(payload.agentAnswer||'').trim();if(!String(payload.slackBotToken||'').trim()){throw new Error('Defina slackBotToken no node Config Clovis para publicar a resposta no Slack.');}if(!channel){throw new Error('Defina channel no payload do Slack ou slackDefaultChannel no node Config Clovis.');}return [{json:{slackBotToken:String(payload.slackBotToken||'').trim(),slackPayload:threadTs?{channel,text,thread_ts:threadTs,mrkdwn:true}:{channel,text,mrkdwn:true}}}];"
      },
      "id": "prepare_slack_message",
      "name": "Preparar Mensagem Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 0]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/chat.postMessage",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{ JSON.stringify($json.slackPayload) }}",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.slackBotToken }}" },
            { "name": "Content-Type", "value": "application/json; charset=utf-8" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "post_to_slack",
      "name": "Slack - Publicar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Config Clovis", "type": "main", "index": 0 }]]
    },
    "Slack - Entrada": {
      "main": [[{ "node": "Config Clovis", "type": "main", "index": 0 }]]
    },
    "Config Clovis": {
      "main": [[{ "node": "Normalizar Entrada", "type": "main", "index": 0 }]]
    },
    "Normalizar Entrada": {
      "main": [[{ "node": "Buscar Documento Clovis", "type": "main", "index": 0 }]]
    },
    "Buscar Documento Clovis": {
      "main": [[{ "node": "Normalizar Documento Clovis", "type": "main", "index": 0 }]]
    },
    "Normalizar Documento Clovis": {
      "main": [[{ "node": "Preparar Consulta Qdrant", "type": "main", "index": 0 }]]
    },
    "Preparar Consulta Qdrant": {
      "main": [[{ "node": "Gerar Embedding", "type": "main", "index": 0 }]]
    },
    "Gerar Embedding": {
      "main": [[{ "node": "Normalizar Embedding", "type": "main", "index": 0 }]]
    },
    "Normalizar Embedding": {
      "main": [[{ "node": "Buscar Qdrant", "type": "main", "index": 0 }]]
    },
    "Buscar Qdrant": {
      "main": [[{ "node": "Normalizar Qdrant", "type": "main", "index": 0 }]]
    },
    "Normalizar Qdrant": {
      "main": [[{ "node": "Preparar Prompt do Agente", "type": "main", "index": 0 }]]
    },
    "Preparar Prompt do Agente": {
      "main": [[{ "node": "Chamar Clovis", "type": "main", "index": 0 }]]
    },
    "Chamar Clovis": {
      "main": [[{ "node": "Normalizar Resposta", "type": "main", "index": 0 }]]
    },
    "Normalizar Resposta": {
      "main": [[{ "node": "Preparar Mensagem Slack", "type": "main", "index": 0 }]]
    },
    "Preparar Mensagem Slack": {
      "main": [[{ "node": "Slack - Publicar Resposta", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
